.choice {
    width: 64px;
    height: 64px;
}

.space {
    height: 300px;
    width: 800px;
}

#dragFrom {
    background-color: #FF0000;
}

#dropTo {
    background-color: #FFFF00;
}