.choice {
    width: 64px;
    height: 64px;
    transform-origin: -32 -32;
}

.space {
	width: 800px;
}

#dragFrom {
    background-color: #FF0000;
	height: 300px;
}

#dropTo {
	width: 800px;
	height: 400px;
    background-color: #FFFF00;
}