.choice {
    background-color: #FF00FF;
	width: 64px;
	height: 64px;
}

.space {
	width: 800px;
}

#dragFrom {
    background-color: #FF0000;
	height: 240px;
}

#dropTo {
	width: 800px;
	height: 400px;
    background-color: #FFFF00;
}