.info, .success, .warning, .error, .validation {
margin: 0 0 10px;
padding: 15px 15px 15px 37px;
font-weight: normal;
background: #fff no-repeat 15px center;
border: 1px solid #ddd;;
}
.info { color: #888; background-color: #eaedf7; background-image: url(images/info00.png); border-color: #b8c3e4; }
.info a { color: #666;}
.success {color: #11a322; background-color: #e8f6e9; background-image: url(images/success0.png); border-color: #b2e1b7;}
.warning{ color: #c2b515; background-color: #f9f8e8; background-image: url(images/warning0.png); border-color: #ebe7b3; }
.error {color: #9e1111; background-color: #f5e8e8; background-image: url(images/error000.png); border-color: #dfb2b2;}
.validation {color: #9e1111; background-color: #f5e8e8; background-image: url(images/error000.png); border-color: #dfb2b2;}

.invisible {
	display: none;
}