/*
Product by: http://www.cubescripts.com/
Description: Add Comment Script CSS

* {
  margin: 0px;
  padding: 0px;
  border: none;
}
body {
	background: #fff;
}
p{
	margin: 0;
	padding: 7px 0;
}
h1 {
 font-size: 30px;
 margin-bottom: 20px;
 font-family:
}

h2 {
 font-size: 20px;
}
h3 {
 font-size: 16px;
}
h1, h2, h3 {
	font-weight: bold;
	color: #000;
}
a:link, a:visited {
 text-decoration: none;
 color: #2e47c5;
}
a:hover, a.selected {
	text-decoration: underline;
}
hr {
	background: #526573;
	border-top: 1px solid #0d161b;
	margin: 5px 0; padding: 0;
}

*/
.avatar {
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px 30px 0 5px;
	margin-right: 30px;
	background:url(images/avatar-bg.png) no-repeat;
	padding: 6px;
}

.comment-text {
	font-size: 12px;
	line-height: 16px;
	width: 495px;
	float: left;
}
.comment-text a {
	color:#069;
	text-decoration:none;
}

.quote {
	text-align: right;
	clear: both;
	margin-bottom: 5px;
}

.cbinner {
	padding-top: 23px;
}

.author {
	font-style: normal;
	text-transform: uppercase;
	margin-left: 121px;
}

.author a {
	color: #2f8cff;
	border-bottom: 1px dotted #6274d3;
}

.author a:hover {
	border-bottom: none;
	text-decoration: none;
}

.time {
	color: #737373;
	text-transform: uppercase;
	font-style: normal;
}
.quoted {
	background:  #fcfcf2 url(images/quote_bg.gif) no-repeat;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 35px;
	font-style: italic;
	margin-bottom: 0px;
}
blockquote {
	background:  #fcfcf2 url(images/quote_bg.gif) no-repeat;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 35px;
	font-style: italic;
	margin-bottom: 15px;
	float: left;
	width: 80%;
}

.comment-admin .quoted {
	background: #fcfcf2 url(images/admin-quote_bg.gif) no-repeat;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 35px;
	font-style: italic;
	margin-bottom: 0px;
}
.comment-admin blockquote {
	background: #fcfcf2 url(images/admin-quote_bg.gif) no-repeat;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 35px;
	font-style: italic;
	margin-bottom: 0px;
}
.quoted .author {
	font-style: normal;
	color: #515254;
}
.quoted .author a, .quoted .author a:visited {
	color: #515254;
	border: none;
	margin: 0;
}

.comment-form h1 {
	padding: 10px 0 0 0;
}
.comment-form input {
	border: 1px solid #d6d6d6;
	padding: 5px;
	width: 230px;
}
.comment-form textarea {
	border: 1px solid #d6d6d6;
}
.line {
	border-bottom: 1px solid #d7d7d7;
	height: 1px;
	margin: 5px 0;
}
.captcha {
	padding: 10px 0;
}
.comment-form input.captchatext {
	width: 80px;
}
.captcha22 {
	float: left;
	padding: 0px 0;
}
.confirmation {
	float: left;
	padding: 0px 10px;
}
.comment-form  input.notifications {
	width: auto;
	float:left;
}
.comment-form input.submit {
	padding-top: 10px;
	border: none;
	width: auto;
}
.powered {
	text-align: right;
}
.powered img {
	border: 0px;
}
.comment {
	margin-bottom: 20px;
	overflow: hidden;
	height: 1%;
}
.comment-admin {
	margin-bottom: 20px;
	overflow: hidden;
	height: 1%;
	z-index: 999;
}

/* Comments bubble style*/

.comments-bubble {
	width :526px;
	margin: 0 auto;
	padding: 20px 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #737373;
}
.comments-bubble .comment .tl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/tl.gif) no-repeat top left;
}
.comments-bubble .comment .tm {
	float: left;
	width: 90%; height: 6px;
	border-top: 1px solid #dedede;
	background: #f5f5f5;
}
.comments-bubble .comment .tr {
	float: left;
	width: 5%; height: 7px;
	background: url(images/tr.gif) no-repeat top right;
}
.comments-bubble .comment .bl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/bl.gif) no-repeat top left;
}
.comments-bubble .comment .bm {
	float: left;
	width: 90%; height: 15px;
	background: url(images/bm.gif) no-repeat top left;
	padding-top: 23px;
}
.comments-bubble .comment .bfm {
	float: left;
	width: 90%; height: 6px;
	background: #f5f5f5;
	border-bottom: 1px solid #dedede;
}

.comments-bubble .comment .br {
	float: left;
	width: 5%; height: 7px;
	background: url(images/br.gif) no-repeat top right;
}
.comments-bubble .comment .body {
	background: #f5f5f5;
	padding: 15px;
	line-height: 18px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	clear: both;
}

/* Comments admin bubble style*/
.comments-bubble .comment-admin .tl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/atl.gif) no-repeat top left;
}
.comments-bubble .comment-admin .tm {
	float: left;
	width: 90%; height: 6px;
	border-top: 1px solid #b7dade;
	background: #d9f5f8;
}
.comments-bubble .comment-admin .tr {
	float: left;
	width: 5%; height: 7px;
	background: url(images/atr.gif) no-repeat top right;
}
.comments-bubble .comment-admin .bl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/abl.gif) no-repeat top left;
}
.comments-bubble .comment-admin .bm {
	float: left;
	width: 90%; height: 15px;
	background: url(images/abm.gif) no-repeat top left;
	padding-top: 23px;
}

.comments-bubble .comment-admin .br {
	float: left;
	width: 5%; height: 7px;
	background: url(images/abr.gif) no-repeat top right;
}
.comments-bubble .comment-admin .body {
	background: #d9f5f8;
	padding: 15px;
	line-height: 18px;
	border-left: 1px solid #b7dade;
	border-right: 1px solid #b7dade;
	clear: both;
}


/* Peview bubble style*/

.comments-bubble .preview .tl {
	float: left;
	width: 5%; height: 20px;
	background: url(images/ptl.gif) no-repeat top left;
}
.comments-bubble .preview .tm {
	float: left;
	width: 90%; height: 20px;
	background: url(images/ptm.gif) repeat-x;
}
.comments-bubble .preview .tr {
	float: left;
	width: 5%; height: 20px;
	background: url(images/ptr.gif) no-repeat top right;
}
.comments-bubble .preview .bl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/pbl.gif) no-repeat top left;
}
.comments-bubble .preview .bm {
	float: left;
	width: 90%; height: 6px;
	border-bottom: 1px solid #dedfb6;
	background: #f4f1ac;
}

.comments-bubble .preview .br {
	float: left;
	width: 5%; height: 7px;
	background: url(images/pbr.gif) no-repeat top right;
}
.comments-bubble .preview .body {
	background: #f4f1ac;
	padding: 15px;
	line-height: 18px;
	border-left: 1px solid #dedfb6;
	border-right: 1px solid #dedfb6;
	color: #565429;
	clear: both;
}
.preview-title {
	margin-left: 25px;
}

/* Comments square style*/

.comments-square {
	width :526px;
	margin: 0 auto;
	padding: 20px 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #737373;
}
.comments-square .comment .tl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/stl.gif) no-repeat top left;
}
.comments-square .comment .tm {
	float: left;
	width: 90%; height: 6px;
	border-top: 1px solid #dedede;
	background: #f5f5f5;
}
.comments-square .comment .tr {
	float: left;
	width: 5%; height: 7px;
	background: url(images/str.gif) no-repeat top right;
}
.comments-square .comment .bl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/sbl.gif) no-repeat top left;
}

.comments-square .comment .bm {
	float: left;
	width: 90%; height: 15px;
	background: url(images/comment-arrow-bg.png) no-repeat 88px 0;
	margin: -1px 0 0 0; padding-top: 19px;
}

.comments-square .comment .bm span{

	position:relative;
	top:-3px;
}

.comments-square .comment .bfm {
	float: left;
	width: 90%; height: 6px;
	border-top: 1px solid #dedede;
}

.comments-square .comment .br {
	float: left;
	width: 5%; height: 7px;
	background: url(images/sbr.gif) no-repeat top right;
}

.comments-square .comment .body {
	background: #f5f5f5;
	padding: 5px 14px;
	line-height: 18px;
	border: 1px solid #dedede;
	overflow: hidden;
	clear: both;
}

/* Comments admin square style*/
.comments-square .comment-admin .tl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/astl.gif) no-repeat top left;
}
.comments-square .comment-admin .tm {
	float: left;
	width: 90%; height: 6px;
	border-top: 1px solid #b7dade;
	background: #d9f5f8;
}
.comments-square .comment-admin .tr {
	float: left;
	width: 5%; height: 7px;
	background: url(images/astr.gif) no-repeat top right;
}
.comments-square .comment-admin .bl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/asbl.gif) no-repeat top left;
}
.comments-square .comment-admin .bm {
	float: left;
	width: 90%; height: 15px;
	background: url(images/asbm.gif) no-repeat top left;
	padding-top: 19px;
}
.comments-square .comment-admin .br {
	float: left;
	width: 5%; height: 7px;
	background: url(images/asbr.gif) no-repeat top right;
}
.comments-square .comment-admin .body {
	background: #d9f5f8;
	padding: 15px;
	line-height: 18px;
	border-left: 1px solid #b7dade;
	border-right: 1px solid #b7dade;
	clear: both;
}


/* Peview square style*/

.comments-square .preview .tl {
	float: left;
	width: 5%; height: 20px;
	background: url(images/sptl.gif) no-repeat top left;
}
.comments-square .preview .tm {
	float: left;
	width: 90%; height: 20px;
	background: url(images/sptm.gif) repeat-x;
}
.comments-square .preview .tr {
	float: left;
	width: 5%; height: 20px;
	background: url(images/sptr.gif) no-repeat top right;
}
.comments-square .preview .bl {
	float: left;
	width: 5%; height: 7px;
	background: url(images/spbl.gif) no-repeat top left;
}
.comments-square .preview .bm {
	float: left;
	width: 90%; height: 6px;
	border-bottom: 1px solid #dedfb6;
	background: #f4f1ac;
}

.comments-square .preview .br {
	float: left;
	width: 5%; height: 7px;
	background: url(images/spbr.gif) no-repeat top right;
}
.comments-square .preview .body {
	background: #f4f1ac;
	padding: 15px;
	line-height: 18px;
	border-left: 1px solid #dedfb6;
	border-right: 1px solid #dedfb6;
	color: #565429;
	clear: both;
}



/* updates */

.admin-comment {
	text-indent: -9999em;
	width: 49px;
	height: 49px;
	background: url(images/comment-admin.png) no-repeat;
	position: absolute;
	margin: -3px 0 0 -3px;
}

.star-hold {
	float: right;
	padding: 0 0 11px 0;
}

.comment-options {
	color: #9a9999;
	font-size: 10px;
	margin: 15px 0 0 0;
	list-style: none;
	float: right;
}

	.comment-options li {
		float: left;
	}

	.comment-options li a {
		color: #9a9999;
		padding: 0 1px;
	}

	.comment-options .report {
		background: url(images/ico-report.png) no-repeat;
		width: 15px;
		height: 13px;
		margin: 3px 3px 0 6px; padding: 0;
		display: block;
	}

	.comment-options .quote {
		background: url(images/ico-quote.png) no-repeat;
		width: 21px;
		height: 15px;
		margin: 2px 0 0 5px; padding: 0;
		display: block;
	}

	.comment-options .report span,
	.comment-options .quote span {
		display: none;
	}

/* rating */

.rating-L {width: 100%;}
.ratrat > *, .test > * {float: left; line-height: 1.4em;}
.messages {color: #fd1c24;}

/* misc */

.clear {
	clear: both;
}


/* PAGINATION */

/*TABLE / RECORD PAGINATION*/
.pagination {text-decoration: none; color:#999999; background: #f1f1f1; padding: 5px 9px; margin: 0 0 7px 0; border: 1px solid #CCCCCC; font-size:9px;}
.pagination a {text-decoration: none; color:#069; background: #f1f1f1;}
.pagination a:visited {text-decoration: none; color:#069; background: #f1f1f1;}
.pagination a:hover {cursor: pointer; background: #E8E4DE; color:#666666;}
.pagination-current {text-decoration: none; color:#cccccc; background: #f1f1f1;}

/* added in 2.2 */

.ajax_loader_small {
	width: 16px;
	height: 16px;
	display: block;
	background: url(./images/ajax-loader.gif) no-repeat 0 0;
	z-index: 999;
	float: right;
}

.ajax_ok_small {
	width: 16px;
	height: 16px;
	display: block;
	background: url(./images/ajax-ok.png) no-repeat 0 0;
	z-index: 999;
	float: right;
}

.ajax_error_small {
	width: 16px;
	height: 16px;
	display: block;
	background: url(./images/ajax-error.png) no-repeat 0 0;
	z-index: 999;
	float: right;
}
