body,html{
	margin:0;
	padding:0;
	text-align:center;
	background-color: #E1F5FE;
	font-family: Arial,Trebuchet MS, Lucida Sans Unicode, sans-serif;
	line-height: 130%;
}

html {
 overflow: -moz-scrollbars-vertical;
}
#paypalDonate{
	position:absolute;
	left:685px;
	top:10px;
}
#mainContainer{
	width:760px;
	background-color: #FFFFFF;
	float:left;
	position:relative;
	margin-right:5px;

}
#siteSearch{
	position:absolute;
	top:5px;
	right:5px;
}
#siteSearch table,#siteSearch tr,#siteSearch td{
	vertical-align:top;
}
#siteSearch form{
	margin:0px;
}
/*
#siteSearch input{
	font-size:14px;
	margin:0px;
	border:1px solid #0288D1;
	display:inline;
}
#siteSearch .searchButton{
	height:20px;
	margin-top:1px;
	background-color:#E1F5FE;
}
*/
#siteSearch .searchField{
	border:1px solid #0288D1;
}
#pageContainer{
	width:970px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	color:#333;
	position:relative;
}

#ad{
	text-align:left;
	position:absolute;

	top: 5px;	/* IE 5.x  */
	right: 5px;	/* IE 5.x  */



}

#AdBrite{
	height:95px;
	padding-left:10px;
	padding-top:3px;
	position:absolute;
	top:0px;
	right:0px;
	width:400px;

}
.amazonAd{
	height:60px;
	width:468px;
	clear:both;
	padding-left:40px;
}
#topAds{
	padding:1px;
	text-align:center;

	height: 22px;	/* IE 5.x  */
	height/* */:/**/20px;	/* Other browsers */
	height: /**/20px;

	width:758px;
}
iframe{
	float:right;
	padding:10px;
}
a{
	color: #0288D1;
}
a:hover{
	color: #F57C00;
}

#mainContent a{
	color: #F57C00;
	border-bottom:1px solid #FFF;
}
#mainContent a:hover{
	border-bottom:1px dotted #0288D1;
	color: #0288D1;
}
#leftMenu{
	width:160px;
	float:left;
	color: #000000;
	margin-top:10px;
	line-height:120%;
	overflow:hidden;
	height:1150px;
}
#leftMenu li{
	list-style-type:none;


}
#leftMenu ul{
	padding-left:5px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
}
#leftMenu p{
	padding-left:5px;
	margin-left:5px;
}

#leftMenu a{

	color: #000;

}
#leftMenu a:hover{
	color:#F57C00;
}
#header{
	height:105px;
}
#header img{
	float:left;
}
#topMenu{
	float:right;
	width:400px;
	font-size:0.8em;
	font-weight:bold;
	padding-right:10px;
}
#topMenu a{
	color: #F57C00;
}
#topMenu ul{
	float:right;
}
#topMenu li{
	float:left;
	list-style-type:none;
}

#mainContent{

	padding-right:0px;
	padding-left:10px;
	float:left;
	font-size:0.9em;

	width: 600px;	/* IE 5.x  */
	width/* */:/**/590px;	/* Other browsers */
	width: /**/590px;

}
#mainContent h3,#mainContent h2{
	margin-top:10px;
	margin-bottom:5px;
	background-image:url('../images/heading-background.png');
	background-repeat:no-repeat;
	background-color:#0288d1;
    color:#FFF;
	line-height:30px;
	padding-left:35px;
}
#mainContent h2{
	font-size:1.2em;
}
#mainContent .browserSupport{
	text-align:right;
	padding-right:3px;
	font-size:0.8em;
	font-style:italic;
	font-weight:bold;
	margin-bottom:3px;
}
#mainContent p{
	margin-top:0px;
	margin-bottom:15px;
	padding-right:10px;
	padding-left:30px;
	margin-right:2px;
}
#mainContent ul,#mainContent ol{
	margin-right:5px;
}
#mainContent ul,#mainContent ol{
	margin-left:25px;
}

#signature{
	width:970px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	color:#000000;
	font-size:0.8em;
	background-image:url('../images/footer.png');
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:25px;
	text-align:left;
}
#signature div{
	text-align:center;
	width:760px;
}

strong{
    color:#01579B;
}

a{
	text-decoration:none;
	color: #01579B;
	font-size:0.9em;
}


#sponsorContainer{
	width:175px;
	float:left;
	background-color:#FFF;
	text-align:center;
	background-image:url('../images/footer-sidebar.png');
	background-repeat:no-repeat;
	background-position:bottom left;
	height:1150px;
	overflow:hidden;
}
#sponsorContainer a{
	color:#F57C00;
}
#sponsorContainer img{
	margin-top:2px;
	margin-bottom:2px;
}
#casaleSkyScraper{
	left:-5px;
	position:relative;
	width:130px;
	text-align:center;

}
iframe{
	margin:0px;
	padding:0px;
}


.clear{
	clear:both;
}
.article_links{
	text-align:right;
}

.scriptLastUpdated{
	text-align:right;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:0.8em;
	margin-bottom:0px;
	font-style:italic;
}

.textarea_code{
	width:550px;
	height:200px;
	color:#000066;
	margin-left:15px;
	margin-bottom:10px;
	margin-top:5px;
}
.textarea_code_low{
	width:520px;
	height:100px;
	color:#000066;
	margin-left:0px;
	margin-bottom:10px;
	margin-top:5px;
}


#mainContent ul,#mainContent ol{
	padding-left:30px;
}
h4{
	padding-left:30px;
	margin-bottom:0px;
}

.inline_code{
	display:block;
	padding:3px;
	margin:5px;
	width:520px;
	font-family:Courier New, Courier New, Courier, monospace;
	color: #000;
	font-size:0.8em;
	border:1px solid #01579B;
	border-left:5px solid #01579B;
	background-color:#E1F5FE;
}

ul .inline_code{
    width:500px;
}

.source-code{
    white-space:pre;
    padding:3px;
    margin:5px;
    margin-left:20px;
    width:530px;
    font-family:Courier New, Courier New, Courier, monospace;
    color: #000;
    font-size:0.8em;
    border:1px solid #01579B;
    border-left:5px solid #01579B;
    background-color:#E1F5FE;
    overflow-x:auto;
    overflow-y:auto;
}

.lastUpdated{
	text-align:right;
	font-family:italic;
}

img{
	border:0px;
}
h1{
	position:absolute;


	top: 66px;	/* IE 5.x  */
	top/* */:/**/73px;	/* Other browsers */
	top: /**/73px;

	right:10px;
	font-style:italic;
	line-height:40px;
	font-size:1.3em;
	margin-top:0px;
	margin-bottom:0px;
	z-index:1;

}

.compactList{
	margin-top:0px;
	margin-bottom:0px;
	clear:both;
}

.scriptAuthor{
	text-align:right;
	font-style:italic;
}

.frontPageListComment{
	font-size:0.8em;
}

.adHeadline{

	color: #0288D1;
	border-bottom:1px solid #FFF;
	font-weight:bold;

}
.adHeadline:hover{
	border-bottom:1px dotted #0288D1;
	color: #F57C00;
}

.adText {
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:9pt;
	font-weight:normal;
	text-decoration: none;
	color: black;
}

.menu-icon-container{
    display:none;
    position:absolute;
    top:8px;
    right:8px;
}

.menu-icon-container-in-menu{
    display:none;
}

.frontpage-container{
    margin-left:30px;
}
.centered-ad-container{
    width:300px;
}
.comments-container{
    margin-left:20px;
}
.newest-script{
	background-color:#0288d1;
	border-radius:10px;
	padding:10px;
	color:#fff;
}
#mainContent .newest-script a{
	color:#FFCC80;
	text-decoration:none;
}
#mainContent .newest-script a:hover {
	color: #FFCC80;
}

#mainContent .newest-script p{
	color:#FFF;
	margin:2px;
	padding:2px;
}
#mainContent .newest-script-heading{
	font-weight:bold;
	margin:0;
	padding:0;
}
/** Mobile CSS **/
@media only screen and (max-device-width: 600px) {

    .comments-container{
        margin-left:5px;
    }
    .centered-ad-container{
        width:auto;
    }

    #mainContainer{
        margin-right:0;
    }
    #sponsorContainer{
        display:none;
    }
	.comments-square{
		margin:0;
	}

    h1{
        position:static;
        left:0;
        top:0;
    }
    #leftMenu{
        float:none;
        width:inherit;
        height:inherit;
    }

    #leftMenu a{
        font-size:1.1em;
        line-height:140%;
    }
    #leftMenu li{
        float:left;
        display:block;
        width:50%;
    }

	div#mainContent{
		width:auto;
		font-size:0.9em;
	}

    #mainContainer{
		width:auto !important;
        font-size:0.9em;
    }

    #pageContainer{
        width:auto;
    }

    #mainContent h3, #mainContent h2{

    }
    .leftmenu-notimportant{
        display:none;
    }

    .inline_code{
        width:inherit !important;
		overflow:auto;
		line-break: auto;
    }
    div.sudoku-demo{
        width:550px;
        margin-left:20px;
    }

    #siteSearch{
        display:none;
    }



    .comments-square{
        width:auto !important;
    }
	.comment-text{
		width:auto !important;
	}

    .sudoku-demo #button_bar_container{
        height:200px;
    }

	#signature{
		background-image:none;
		width:auto;
	}

    .menu-icon-container{
        display:block;
    }
    .menu-icon-container-in-menu{
        display:block;
        position:relative;
        height:50px;
    }

    .menu-icon-container-in-menu img{
        position:absolute;
        right:5px;
        top:5px;
    }
    #leftMenu{
        display:none;
        top:0;
        left:0;
        width:100%;
        background-color:#FFF;
        border-bottom:1px solid #0277BD;
        z-index:100;

    }
    #signature div{
        width:auto;
    }
    h1{
        clear:both;
    }

    #mainContent ul,#mainContent ol{
        margin-left:5px;
        padding-left:5px;
    }

    #mainContent p{
        padding-left:5px;
    }


    .frontpage-container{
        margin-left:5px;
    }
}


