body,html{
	margin:0px;
	padding:0px;
	text-align:center;
	background-color: #FFF;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	line-height: 120%;
	text-align:left;
	font-size:0.9em;
}
#header,#leftMenu,#sponsorContainer,#signature{
	display:none;
}
a{
	text-decoration:none;
	color:#000;
}
.inline_code{
	display:block;
	border:1px solid #000;
	background-color:#CCC;
	padding:2px;
	font-family:courier new;
	font-size:0.7em;
}